[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pylint = "==2.16.2"
flake8 = "~=3.8"
flake8-isort = "~=3.0"
coverage = "~=7.2"
mypy = "~=1.0"
autopep8 = "*"
pre-commit = "*"

[packages]
PyGithub = "==1.58.0"
semgrep = "*"
inflection = "*"
coverage = "*"

[requires]
python_version = "3.9"
